Options -MultiViews
RewriteEngine On

# Base URL if your app is at the root
RewriteBase /

# If it's inside a folder like /nitsan/, change to /nitsan/
# RewriteBase /nitsan/

# Route everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
